/* @tailwind base;
@tailwind components;
@tailwind utilities; */
:root{
  --mainFont: Montserrat;
  --spacing: 4px;
  --fontWeight: 100;
}
body{
  font-family: var(--mainFont) ;
}

.container {
  background-repeat: no-repeat;
  background-size: cover;
  position:relative;
  height:calc(var(--spacing)*300);

  width: 100%;
  /* background-color:black; */
  background-image: url(/img/Movie\ Wallpaper.png);
  /* background-image: linear-gradient(to top,#000000BF,#a5a1a1bf); */
 
  
}
#overlay {
  height:calc(var(--spacing)*300);
  background-image: url(img/Black\ Gradient.png);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  opacity: 0.55;
  background-size: cover;
  /* border:10px solid red; */
  z-index: 90;
}
#gradiant{
  background-image: linear-gradient(180deg,transparent 0 30%,#000 70% 100%);
  position: absolute;
  bottom: 0;
  left:0;
  right:0;
  background-size: cover;
  height:calc(var(--spacing)*63);
  z-index: 99;
  /* border:2px solid #BCA5FF; */
 }
 #piku-gradient{
  background-image: linear-gradient(180deg,transparent 0 30%,#000 70% 100%);
  position: absolute;
  bottom: 0;
  left:0;
  right:0;
  background-size: cover;
  height:calc(var(--spacing)*63);
  z-index: 99;
  /* border:2px solid red; */
 }
header {
  background-image: linear-gradient(to right,#000000BF, #6650A5BF);
  
  /* border: 2px solid yellow; */
  display: flex;
  justify-content: space-around;
  gap: calc(var(--spacing)*10);
  width: 100%;
  height: 8%;
}
.Left-Menu {
  align-items: center;
  /* border: 2px solid red; */
  width: 45%;
  display: flex;
  z-index: 99;
}
.dramatic {
  padding-left: calc(var(--spacing)*4);
  font-family: Griffy;
  color: #FFC907;
  font-weight: calc(var(--fontWeight)*4);
  font-size: 36px;
  line-height:calc(var(--spacing)*12);
  z-index: 99; 
  max-width: calc(var(--spacing)*50);
}
.menu {
  font-weight: calc(var(--fontWeight)*7);
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  width: 85%;
  list-style-type: none;
}
.Right-Menu {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  
}
.mobile-menu {
  /* border: 1px solid #FFFFFF; */
  padding: calc(var(--spacing)*2) calc(var(--spacing)*4);
  color: #FFFFFF;
  font-size: 24px;
  border-radius: var(--spacing);
  cursor: pointer;
  max-width: calc(var(--spacing)*6);
  text-align: center;
  display: none;
}
.icon {
  display: flex;
  justify-content: space-around;
  width: 30%;
  height: 30%;
  /* border: 2px solid blue; */
}
.sub-icon1 {
  width: 50%;
  /* border: 2px solid pink; */
  display: flex;
  justify-content: space-around;
}
.search {
  padding: calc(var(--spacing)*2);
  height: 15%;
  width: 30%;
  border-radius: calc(var(--spacing)*6);
  display: flex;
  justify-content: space-between;
  background-color: #3B567D;
  border: 2px solid transparent;
}
.search #magnifier {
 align-items: center;
 color: white;
 text-align: center;
}
.search input {
  border: none;
  border-radius: calc(var(--spacing)*6); 
  background-color: #3B567D;
  color: #A2B3CD;
  font-weight: calc(var(--fontWeight)*7);
  width: 100%;
  border: 2px solid transparent;
}
.gift .bell{
  width: calc(var(--spacing)*7);
  height: calc(var(--spacing)*7);


}
.ellipse {
  width: calc(var(--spacing)*14);
  height: calc(var(--spacing)*14);
  align-items: center;
  padding-right: calc(var(--spacing)*7);
}
.content{
  /* border: 2px solid palevioletred; */
  display: flex;
  gap: calc(var(--spacing)*12);
  width: 45%;
  height: 40%;
}
.side-bar{
  margin-top: calc(var(--spacing)*10);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-image: linear-gradient(to bottom,#8b62fdbf,#000000BF);
  width: 10%;
  height: 50%;
  color: #BCA5FF;
  border-top-right-radius: calc(var(--spacing)*6);
  border-bottom-right-radius: calc(var(--spacing)*6);
  z-index: 99;
  
}

.side-bar img{
  height: calc(var(--spacing)*7);
  width: calc(var(--spacing)*7);
}
.movie-property{
   width: 85%;
   z-index: 99;
  
}
.movie-property>img{
  width: 60%;
}

.movie-property p{
  font-weight: calc(var(--fontWeight)*6);
}
.movie-property .main-text{
  font-size: calc(var(--spacing)*3);
  color: white;
}
.movie-property .red-text{
  
  font-size: 18px;
  color: #FF2E00;
  margin-bottom: -10px;
}
.movie-property .type{
  font-size: 18px;
  color: white;
}
.movie-property .buttons button{
  width: calc(var(--spacing)*40);
  height: calc(var(--spacing)*12);
  border-radius: 50px;
  color:white;
  font-size: 20px;
  font-weight: calc(var(--fontWeight)*6);

}
.movie-property .buttons .watch{
  background-color: #6650A5BF;
}
.movie-property .buttons .mylist{
  background-color: #5C5C5C;
}
.rate{
  margin-top: calc(var(--spacing)*5);
  
  
}
.rate img{
  padding-right: calc(var(--spacing)*2);
  vertical-align: middle;
}
.rate .opinion{
  color:#FFC907;
  font-size: 20px;
  font-weight: calc(var(--fontWeight)*7);
  padding-right: calc(var(--spacing)*2);
  vertical-align: middle;
}
.rate .count{
  color:white;
  font-size: 18px;
  font-weight: calc(var(--fontWeight)*5);
  border: 1px solid white;
  border-radius: var(--spacing);
  margin-right: calc(var(--spacing)*2);
  vertical-align: middle;
}
.rate .year{
  color:#959595;
  font-size: 20px;
  font-weight: calc(var(--fontWeight)*5);
  padding-right: calc(var(--spacing)*2);
  vertical-align: middle;
  
  
}
.movie-watch{
  color:white;
  font-size: 18px;
  font-weight: calc(var(--fontWeight)*7);
  margin-top: calc(var(--spacing)*12);
}
/* -----------------------section2----------------- */
.section2{
  width: 100%;
  /* height: 100vh; */
  background-color:#000;
    border:1px solid #000;
    /* ???????????????? */
}
.movie-container{
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: cover;
  position:relative;
  /* height:850px; */
  width: 100%;
  margin-bottom: calc(var(--spacing)*12);
  /* border:1px solid green; */
  max-width: 80%;

}

.row1 .language button{
  padding: var(--spacing) calc(var(--spacing)*6);
  height: calc(var(--spacing)*7);
  margin-right: calc(var(--spacing)*2);
 color: white;
 background-color: #5C5C5C;
 font-size: 16px;
 font-weight: calc(var(--fontWeight)*6);
 border:1px solid gray;
 border-radius: calc(var(--spacing)*5);

}
.row-content , .row2{
  display: flex;
  justify-content: space-around;
  margin-top: calc(var(--spacing)*15);
  /* border: 1px solid red; */

}
.row-content div img,.row2 div img{
  width: 100%;
  height: 75%;
}
.movie-container .text {
  color: white;
  font-weight: calc(var(--fontWeight)*7);
  font-size: 16px;
  margin-top: -5px;
}
.movie-container .year {
  font-weight: calc(var(--fontWeight)*6);
  font-size: 11px;
  color: #AFAFAF;
  margin-top: -10px;
}
.movie-container .footer-icons {
  display: flex;
  justify-content: space-between;
  /* border: 2px solid yellow; */
  
}
.movie-container .footer-icons img {
  height: calc(var(--spacing)*3);
  width: calc(var(--spacing)*7);
  /* margin-top: -20px; */
  vertical-align: middle;
}
.movie-container .footer-icons span{
  color: #FFC907;
  font-weight: calc(var(--fontWeight)*7);
  font-size: 11px;
  /* margin-top: -20px; */
 }
.movie-container .footer-icons div{
  margin-top: -10px;
}
.footer-icons {
  margin-right: calc(var(--spacing)*6);
}
.show-more {
  border-radius:calc(var(--spacing)*6);
  width:calc(var(--spacing)*45);
  height: calc(var(--spacing)*11);
  background-color: #5E47A1;
  color: #E3E3E3;
  font-weight: calc(var(--fontWeight)*7);
  font-size: 18px;
  margin-top: calc(var(--spacing)*12);
  margin-left: 40%;
  text-align: center;
}
.show-more i {
  
  color: #E7E7E7;
}
/*-------------------------------------footer-------------------------------*/

.section3{
  background-color: #000;
}
.footer {
  max-width: 80%;
  margin: 0 auto;
  background-color: #000;
  color: #FFFFFF;
  font-weight: calc(var(--fontWeight)*4);
  font-size: 14px;
}
.columns {
  display: flex;
  justify-content: space-between;
}
.columns h3 {
  font-family: Roboto;
  font-weight: calc(var(--fontWeight)*7);
  font-size: 16px;
  
}
.columns .first-col button {
 background-color: #362F33;
 color: #FFFFFF;
 width: calc(var(--spacing)*32);
 height:calc(var(--spacing)*8);
 padding-bottom: calc(var(--spacing)*5);
 text-align: center;
 

}

.columns .first-col img  {
 /* border: 2px solid yellow; */
 padding-top: var(--spacing);
 
  
}
.columns .first-col i {
  
  text-align: center;
   
}
.columns .fifth-col .social-net{
  display: flex;
  justify-content: space-between;
  
}
.columns .fifth-col .social-net div{
  margin: 0 auto;
   height: calc(var(--spacing)*7);
   width: calc(var(--spacing)*7);
   border: 1px solid white;
   border-radius: 50%;
   text-align: center;
}
.columns .fifth-col i{
  height: calc(var(--spacing)*5);
  width: calc(var(--spacing)*5);
  padding-top: calc(var(--spacing)*2);
       
   }
   .footer-text{
    font-family: Roboto;
    text-align: center;
    font-weight: calc(var(--fontWeight)*4);
    font-size: 14px;
    color:#FFFFFF;
    padding-bottom: calc(var(--spacing)*6);

   }

/* ---------------------------------------piko-page--------------------------------- */
.page2 {

  height: calc(var(--spacing)*300);
  
}
.trailer{
  display: flex;
  gap: calc(var(--spacing)*25);
  background-color: #000;
  height: calc(var(--spacing)*125);
  width: 100%;
}
.movie-description{
  margin-top: 10%;
}
.movie-description>img  {

  margin-left: -30px;
}
.movie-description .buttons .download{
  width: calc(var(--spacing)*10);
  height: calc(var(--spacing)*10);
  border-radius: 50%;
  padding: var(--spacing);
  background-color: #5C5C5C;
 }
.movie-description h1{
  color: #FFFFFF
}
.movie-description .awards{
  width: 80%;
}
.films{
  margin: 0 auto;  
  width: 100%;
  display: flex;
  justify-content: space-around;
  /* border: 1px solid rgb(0, 255, 157); */
  
}
 .first-film{
  position: relative;
  padding-right: calc(var(--spacing)*5);
   z-index: 99; 
  }

  .trailer div img{
    width: 80%;
    max-height: 65%;
    /* height: 85%; */
  }
 .first-film button {
  position: absolute;
  bottom: 70%;
  left: 75%;
  width: calc(var(--spacing)*10);
  height: calc(var(--spacing)*10);
  color: #5436A9;
  border: 1px solid white;
  border-radius: 50%;
  background-color: white;


}

.films .cast-film{
  /* width: 100%; */
  width: 100%;
  /* border: 1px solid red; */
  z-index: 99;
}

.page2-film-header{
  display: flex;
  margin-top: calc(var(--spacing)*50);
  margin-left: calc(var(--spacing)*25);
  /* margin-bottom: 0px; */
  gap: calc(var(--spacing)*92);
  text-align: center;
  /* background-color: black; */
  width: 80%;
  /* border: 2px solid red; */
 
}
.page2-film-header h3{
  color: white;
  font-size: 18px;
  font-weight: calc(var(--fontWeight)*7);
  margin-bottom: calc(var(--spacing)*2);
  z-index: 95;
}
.cast-film #p1{
  color: #FFFFFF;
  font-size: 15px;
  font-weight: calc(var(--fontWeight)*7);
  margin-bottom: 0;
  /* border: 2px solid pink; */
  
}
.cast-film #p2{
  font-size: 14px;
  font-weight: calc(var(--fontWeight)*7);
  color: #A9A9A9;
  margin-top: 0;
  /* border: 2px solid rgb(80, 19, 29); */

}

@media only screen and (min-width: 320px) and (max-width: 575px){
  .container .Left-Menu .mobile-menu{
    display: block;
  }
  .menu {
    display: none;
  }
}
@media only screen and ( min-width: 576px) and (max-width: 767px){
  .container .Left-Menu .mobile-menu{
    display: block;
  }
  .menu {
    display: none;
  }
}
@media only screen and ( min-width: 768px) and (max-width: 991px){
  .container .Left-Menu .mobile-menu{
    display: block;
  }
  .menu {
    display: none;
  }
}
@media only screen and ( min-width: 992px) and (max-width: 1199px){
  .container .Left-Menu .mobile-menu{
    display: block;
    
  }
  .menu {
    display: none;
  }
}
@media only screen and ( min-width: 1200px) {
  .menu {
    display: flex;
  }
}

